{% extends "base.html" %}

{% block content %}


   <div class="left">
      <h4 class="page-title">My Account</h4>
      <section class="main clearfix inner">
      <!--TODO show the user food history-->
      <fieldset class="">
         <legend>foods History(coming soon)</legend>
      </fieldset>

      <fieldset class="my_account">
         <legend>Account Settings</legend>
         <ul>
            <li><a href="{% url django.contrib.auth.views.password_change %}">Change Password</a></li>
         </ul>
      </fieldset>
      </section>
   </div>


   <div class="right">
      <div class="block">
         <ul class="setting">
            <li><a href="#">› My History</a></li>
            <li><a href="{% url my_account %}">› 帐户设置</a></li>
         </ul>
      </div>
   </div>


{% endblock %}





