{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form class="form-horizontal" method="post">

   <div class="control-group {% if  form.old_password.errors  %} error {% endif %}">
      <label class="control-label" for="id_old_password">{{  form.old_password.label  }}</label>
      <div class="controls">
         <input type="password" id="id_old_password" name="{{ form.old_password.html_name  }}" placeholder="{% trans 'Old password' %}">

         {% if form.old_password.errors %}
         <span class="help-inline">{{ form.old_password.errors|join:', ' }}</span>
         {% endif  %}
      </div>
   </div>

   <div class="control-group {% if  form.new_password1.errors  %} error {% endif %}">
      <label class="control-label" for="id_new_password1">{{  form.new_password1.label  }}</label>
      <div class="controls">
         <input type="password" id="id_new_password1" name="{{ form.new_password1.html_name  }}" placeholder="{% trans 'New password' %}">

         {% if form.new_password1.errors %}
         <span class="help-inline">{{ form.new_password1.errors|join:', ' }}</span>
         {% endif  %}
      </div>
   </div>

   <div class="control-group {% if  form.new_password2.errors  %} error {% endif %}">
      <label class="control-label" for="id_new_password2">{{  form.new_password2.label  }}</label>
      <div class="controls">
         <input type="password" id="id_new_password2" name="{{ form.new_password2.html_name  }}" placeholder="{% trans 'New password' %}">

         {% if form.new_password2.errors %}
         <span class="help-inline">{{ form.new_password2.errors|join:', ' }}</span>
         {% endif  %}
      </div>
   </div>


   <div class="control-group">
      <div class="controls">
         <button type="submit" class="btn" id="">{% trans 'change' %}</button>
      </div>
   </div>

   <input type="hidden" name="next" value="{{ next }}" />
   {% csrf_token %}
</form>

{% endblock %}

{% block css %}

<link href="{{ STATIC_URL  }}css/page/form.css" rel="stylesheet" type="text/css"/>
{% endblock %}
