{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form class="" method="post" action=".">
   <fieldset class="error">
      <legend>{% trans 'Password Reset'  %}</legend>
      {% if form.email.errors %}
         <span class="text-error">
            {{ form.email.errors|join:', ' }}
         </span>
      {% endif  %}
      <label>{{ form.email.label  }}</label>
      <input type="text" placeholder="{{ form.email.label }}">

      <span class="help-block">{{ form.email.help_text  }}</span>
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
   </fieldset>

   {% csrf_token %}
</form>

{% endblock %}

{% block  css %}
<link href="{{ STATIC_URL  }}css/page/form.css" rel="stylesheet" type="text/css"/>
{% endblock %}
