{% extends "base.html" %}

{% block content %}

<div class="left">
   <h1 class="page-title">
      <!--<strong><%=shop.name%></strong>-->
      <!--<span>电话：<%=shop.tel%></span>-->
      <!--<span>地址：<%=shop.address%></span>-->
      <!--<input type="hidden" id="shop_id" value="<%=shop._id%>">-->
      <!--<input type="hidden" id="shop_name" value="<%=shop.name%>">-->
      <strong> Today Menu </strong>
   </h1>
   <section class="main clearfix">
   <section class="food-list inner clearfix">

   <div>
      <div class="cat-title"><span>Lunch</span></div>
      {% if  lunch_foods %}

      <ul>
         {% for food in lunch_foods %}
         <li>

         {{ food.name  }}

         </li>

         {% endfor %}

      </ul>
      {% else %}
      <p>还未添加美食</p>
      {% endif %}  
   </div>

   <div class="clearfix"></div>

   <div>
      <div class="cat-title"><span>Dinner</span></div>
      {% if dinner_foods %}

      <ul>
         {% for food in dinner_foods %}
         <li>

         {{ food.name  }}

         </li>

         {% endfor %}

      </ul>
      {% else %}
      <p>还未添加美食</p>
      {% endif %}  
   </div>


   </section>
   </section>

</div>


<div class="right">
   <section id="orders">
   <h3>我的订餐</h3>

   <div class="r_mycart"></div>

   <div>

      <form>
         <input type="radio" name="sex" value="1" /> 午餐
         <br />
         <input type="radio" name="sex" value="female" /> 晚餐
         <br />
         <input type="radio" name="sex" value="female" /> 两餐
         
         <input type="submit" name="submit" value="确定" id='submit'/>

      </form>

   </div>
   <!--<div class="buy"><span class="buy-btn" id="cancel">定晚餐</span></div>-->
   <!--<div class="buy"><span class="buy-btn" id="both">两餐都要！</span></div>-->

   </section>
</div>

{% endblock %}

