{% extends "base.html" %}

{% block content %}

<div class="span6">
   <h1 class="">
      今日菜式
   </h1>
   {% if today_menu %}
      {% for menu_set in today_menu%}
      <div>
         <h4>{{ menu_set.name }}</h4>
         {% if menu_set.foods.all %}
         <ul class="inline food-list">
            {% for foods in menu_set.foods.all %}
            <li>

            {{ foods.name  }}

            </li>

            {% endfor %}

         </ul>
         {% else %}
         <p class="muted">还未添加美食</p>
         {% endif %}  
      </div>
      {% if not forloop.last  %}
      <hr />   
      {% endif %}
      {% endfor %}
   {% else %} 
         <p class="muted">还未添加美食</p>
   {% endif %}

</div>


<div class="span2 offset2">

   <form id="ship-form">
      <fieldset>
         <legend>我的订餐</legend>

         <div class="js-container">
            {% for type in typelist %}
            <label class="checkbox">
               <input type="checkbox" checked="checked" value="{{ type.offer_type }}">{{ type.name  }}
            </label>
            {% endfor %}
         </div>

         <div class="js-msg"></div>

         <button type="submit" class="btn btn-small btn-primary float-r" id="ship">确定</button>
      </fieldset>
   </form>

</div>

<div id="success-confirm" class="reveal-modal">
</div>


{% endblock %}

{% block  css %}
<link href="{{ STATIC_URL  }}css/page/home.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL  }}css/widget/reveal.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block script %}

<script type="text/javascript" data-main="{{ STATIC_URL  }}js/page/home" src="{{ STATIC_URL }}js/lib/require/require.js"></script>

{% endblock %}
