<!--header-->
<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
      <!--<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">-->
      <link href="{{ STATIC_URL  }}css/base.css" rel="stylesheet" type="text/css"/>


      {% block css %}{% endblock %}

      <!--<link rel="SHORTCUT ICON" href="{{ STATIC_URL }}images/favicon.ico" />-->
      <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
      <meta name="keywords" content="{{ meta_keywords }}" />
      <meta name="description" content="{{ meta_description }}" />
      <!--<meta name="verify-v1" content="bPjaC6MIttNNSgZfZXROVZ4RPbKJkyv7rAM2sOuUWk0=" /> -->
   </head>

   <body>
      <header id="" class="navbar navbar-inverse navbar-fixed-top">

      <nav class="navbar-inner">

      <div class="container">
         <a href="/" class="brand">175Game' Canteen</a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li class="active"><a href="{% url foods.views.index %}">Today Menu</a></li>

               {% if user.is_authenticated %}
               <li class="">
               <a href='{%  url my_account %}'>{{ user.username  }}</a>
               </li>

               <li> 
               <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
               </li>
               {% else %}
               <li>
               <a href="{% url register %}">Sign Up</a>
               </li>

               <li>
               <a href="{% url django.contrib.auth.views.login %}">Login</a>
               {% endif %}
            </ul>
         </div>
      </div>
      </nav>

      </header>
      <div id="wrap">

         <div class="container content"> 


<!--body-->
{% block content %}{% endblock %}

<!--footer-->
</div> <!-- end of wrapper div-->
</div>
<footer id="footer" class="">
<div class="container">
   <p class="muted credit float-r">created by zhkzyth,inspired by todomvc+canku+Django_Ecomerce</p>
</div>
</footer>
<!--js-->
<!--<script type="text/javascript" data-main="{{ STATIC_URL  }}js/main" src="{{ STATIC_URL }}js/lib/require/require.js"></script>-->
{% block script %}{% endblock %}
</body>
</html>

